* {
     margin: 0;
     padding: 0;
     list-style-type: none;
     font-family: sans-serif;
}

html, body {
     background-color: #f4f4f4;
}
h1,h2,h3,h4,h5,h6,p,a {
     color: #fff;
}
#bold {
     font-weight: bold;
}

div#loginForm {
     height: 125px;
     width: 350px;
     background-color: #34495e;

     padding: 35px;
     position: absolute;
     top: 50%;
     left: 50%;
     margin: -80px 0 0 -210px;
}

div#loginForm input {
     width: 95%;
     height: 35px;
     margin: 0px 0px 5px 0px;
     padding: 2px 8px;
}
div#loginForm input[type=text] {
     font-size: 16px;
     font-weight: bold;
}
div#loginForm input[type=password] {
     font-size: 16px;
     font-weight: bold;
}

div#loginForm button {
     font-size: 18px;
     text-transform: uppercase;
     font-weight: bold;
     background-color: #f9f9f9;
     border: none;
     width: 101%;
     height: 35px;
}

div#content {
     width: 85%;
     height: 250px;
     background-color: #141414;

     padding: 35px;
     margin: 0 auto;
}

.hideContent {
     display: none !important;
}
.showContent {
     display: inline !important;
}
